# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\webRTC\docker-jitsi-meet-stable-8319\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
